<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %} タイトル {% endblock %}</title>
</head>
<body>
<header>
    <h2><a href="/">プロジェクトサイト</a></h2>
    <div>
        {% if "uid" in session %}
        <!-- <a href="/upload">新規投稿</a> -->
        <a href="/logout">ログアウト</a>
        {% endif %}
    </div>
    </header>
<main>
{% block main %}

{% endblock %}
</main>
</body>
</html>