{% extends "base.html" %}
{% block title %}{{plan.ptitle}} - プロジェクト管理{% endblock %}
{% block main %}

<a href="/project/{{plan.pid}}">{{plan.project.title}}</a>

<h1>{{plan.ptitle}}</h1>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<table class="desc">
    <tr><th>タイトル</th><td>{{plan.ptitle}}</td></tr>
    <tr><th>完成度</th><td>{{plan.prate}}%</td></tr>
    <tr><th>成果物URL</th><td>{{plan.url}}</td></tr>
    <tr><th>内容</th><td>{{plan.pbody|markdown}}</td></tr>
    <tr><th>講師コメント</th><td>{{plan.comment}}</td></tr>
</table>

<a href="/project/{{plan.pid}}" class="btn">プロジェクトに戻る</a>

{% endblock %}
