{% extends "base.html" %}
{% block title %}進捗報告 - プロジェクト管理{% endblock %}
{% block main %}

<h1>{{user.uname}} 進捗報告</h1>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<a href="/preport_add">新規登録</a>

<table id="list">
    <tr><th>タイトル</th><th>登録日</th></tr>
    {% for r in rows %}
    <tr>
        <td class="title"><a href="/preport/{{r.prid}}">{{r.rtitle}}</a></div>
        <td class="hi">{{r.pr_at.strftime('%Y/%m/%d %H:%M:%S')}}</div>
    </tr>
    {% endfor %}
</table>


<form method="post" action="/passchange">
    パスワード変更：<input type="password" name="upass1" required><br>
    パスワード確認：<input type="password" name="upass2" required><br>
    <input type="submit" value="パスワード変更">
</form>

{% endblock %}
