{% extends "base.html" %}
{% block title %}{{project.title}} - プロジェクト管理{% endblock %}
{% block main %}

<h1>{{project.title}}</h1>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<table class="desc">
    <tr><th>カテゴリ</th><td>{{project.category}}</td></tr>
    <tr><th>参加者</th><td>
        <ul>
        {% for m in project.member %}
        <li>{{m.user.uname}}</li>
        {% endfor %}
        </ul>
    </td></tr>
    <tr><th>概要</th><td><pre>{{project.desc}}</pre></td></tr>
    <tr><th>講師コメント</th><td><pre>{{project.comment}}</pre></td></tr>
</table>

<h3>計画</h3>
<table id="plist">
    <tr><th>タイトル</th><th>完成度</th><th>登録日</th></tr>
    {% for r in project.plan %}
    <tr>
        <td class="title"><a href="/plan/{{r.planid}}">{{r.ptitle}}</a></div>
        <td class="prate">{{r.prate}}%</div>
        <td class="hi">{{r.plan_at.strftime('%Y/%m/%d %H:%M:%S')}}</div>
    </tr>
    {% endfor %}
</table>


{% endblock %}
