{% extends "base.html" %}
{% block title %}ユーザ管理 - プロジェクト管理{% endblock %}
{% block main %}

<h1>ユーザ管理</h1>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<table id="list">
    <tr><th>名前</th><th>プロジェクト</th><th>進捗</th></tr>
    {% for r in rows %}
    <tr>
        <td>{{r.uname}}</div>
            <td>
                {% if r.member %}
                    {%for m in r.member%}  
                        <div><a href="/project/{{m.project.pid}}">{{m.project.title}}</a></div>
                    {% endfor %}
                {% endif %}
            </div>
        <td>
            <!--<a href="/preport_admin/{{r.uid}}">進捗</a>-->
            {% if r.preport %}
            {% with max_pr = r.preport|sort(attribute='pr_at')|last %}
            <div><a href="/preport/{{max_pr.prid}}">{{max_pr.rtitle}}</a></div>
            {% endwith %}            {% endif %}

        </div>
    </tr>
    {% endfor %}
</table>


{% endblock %}
